<div>
  <h3>{{ pair }}</h3>
  <div *ngIf="prices | async as pairPrices">
    <div *ngFor="let item of pairPrices">
      <div *ngIf="item.buy?.length">
        <h4>Offer</h4>
        <div *ngFor="let buy of item.buy">
          <span>Price : {{ buy.price }}</span>
          <span style="margin-left: 10px"
            >Amount : {{ buy.amount | hydra }}</span
          >
        </div>
      </div>
      <div *ngIf="item.sold?.length">
        <h4>Ask</h4>
        <div *ngFor="let sold of item.sold">
          <span>Price : {{ sold.price }}</span>
          <span style="margin-left: 10px"
            >Quantity : {{ sold.amount | hydra }}</span
          >
        </div>
      </div>
    </div>
  </div>
  <mat-tab-group>
    <mat-tab label="Buy">
      <form class="flex-column" [formGroup]="form">
        <mat-form-field class="fix">
          <input
            matInput
            placeholder="Quantity"
            required
            formControlName="quantity"
          />
          <mat-error *ngIf="form.get('quantity')?.hasError('required')"
            >quantity is required</mat-error
          >
        </mat-form-field>
        <mat-form-field class="fix">
          <input
            matInput
            placeholder="Price"
            required
            formControlName="price"
          />
          <mat-error *ngIf="form.get('price')?.hasError('required')"
            >price is required</mat-error
          >
        </mat-form-field>
        <span>{{ message }}</span>
        <button
          (click)="approve(token0)"
          color="warn"
          class="fix"
          [disabled]="allow0"
          style="margin-bottom: 1rem"
          mat-button
          mat-raised-button
        >
          Approve
        </button>
        <button
          (click)="buy()"
          color="primary"
          class="fix"
          [disabled]="!account"
          mat-button
          mat-raised-button
        >
          buy
        </button>
      </form>
    </mat-tab>
    <mat-tab label="Sell">
      <form class="flex-column" [formGroup]="form">
        <mat-form-field class="fix">
          <input
            matInput
            placeholder="Quantity"
            required
            formControlName="quantity"
          />
          <mat-error *ngIf="form.get('quantity')?.hasError('required')"
            >quantity is required</mat-error
          >
        </mat-form-field>
        <mat-form-field class="fix">
          <input
            matInput
            placeholder="Price"
            required
            formControlName="price"
          />
          <mat-error *ngIf="form.get('price')?.hasError('required')"
            >price is required</mat-error
          >
        </mat-form-field>
        <span>{{ message }}</span>
        <button
          (click)="approve(token1)"
          color="warn"
          class="fix"
          style="margin-bottom: 1rem"
          [disabled]="allow1"
          mat-button
          mat-raised-button
        >
          Approve
        </button>
        <button
          (click)="sell()"
          color="accent"
          class="fix"
          [disabled]="!account"
          mat-button
          mat-raised-button
        >
          sell
        </button>
      </form>
    </mat-tab>
  </mat-tab-group>

  <div class="connect" *ngIf="!account">
    Connect your metamask wallet with the button in upper right to create token
    from this site
  </div>
  <div class="info">
    Create order cost 2 ODT, only ODT pair are free from fees.
  </div>
</div>
