<div>
  <h3>{{ pair }}</h3>
  <div class="order-content">
    <div *ngIf="prices | async as pairPrices">
      <div *ngFor="let item of pairPrices">
        <div *ngIf="item.buy?.length">
          <table class="table-order offer">
            <tr>
              <th>Price ({{ pair1 }})</th>
              <th>Quantity ({{ pair0 }})</th>
            </tr>
            <tr *ngFor="let buy of item.buy">
              <td>{{ buy.price }}</td>
              <td>{{ buy.amount | hydra }}</td>
            </tr>
          </table>
        </div>
        <div *ngIf="item.buy?.length">
          <table class="table-order ask">
            <tr>
              <th>Price ({{ pair1 }})</th>
              <th>Quantity ({{ pair0 }})</th>
            </tr>
            <tr *ngFor="let sold of item.sold">
              <td>{{ sold.price }}</td>
              <td>{{ sold.amount | hydra }}</td>
            </tr>
          </table>
        </div>
      </div>
    </div>
    <mat-tab-group>
      <mat-tab label="Buy">
        <form class="flex-column" [formGroup]="formBuy">
          <mat-form-field class="fix">
            <input
              matInput
              placeholder="Price ({{ pair1 }})"
              required
              formControlName="price"
            />
            <mat-error *ngIf="formBuy.get('price')?.hasError('required')"
              >price {{ pair0 }} is required</mat-error
            >
          </mat-form-field>
          <mat-form-field class="fix">
            <input
              matInput
              placeholder="Quantity ({{ pair0 }})"
              required
              formControlName="quantity"
            />
            <mat-error *ngIf="formBuy.get('quantity')?.hasError('required')"
              >quantity {{ pair0 }} is required</mat-error
            >
          </mat-form-field>
          <mat-form-field class="fix">
            <input
              matInput
              placeholder="Total ({{ pair1 }})"
              required
              formControlName="total"
            />
            <mat-error *ngIf="formBuy.get('total')?.hasError('required')"
              >total {{ pair1 }} is required</mat-error
            >
          </mat-form-field>
          <span>Balance {{ balance1 }} {{ pair1 }}</span>
          <button
            (click)="approve(token0)"
            color="warn"
            class="fix"
            [disabled]="allow0"
            style="margin-bottom: 1rem"
            mat-button
            mat-raised-button
          >
            Approve spend {{ pair1 }}
          </button>
          <button
            (click)="buy()"
            color="primary"
            class="fix"
            [disabled]="!account"
            mat-button
            mat-raised-button
          >
            Buy {{ pair0 }}
          </button>
        </form>
      </mat-tab>
      <mat-tab label="Sell">
        <form class="flex-column" [formGroup]="formSell">
          <mat-form-field class="fix">
            <input
              matInput
              placeholder="Price ({{ pair1 }})"
              required
              formControlName="price"
            />
            <mat-error *ngIf="formSell.get('price')?.hasError('required')"
              >price {{ pair0 }} is required</mat-error
            >
          </mat-form-field>
          <mat-form-field class="fix">
            <input
              matInput
              placeholder="Quantity ({{ pair0 }})"
              required
              formControlName="quantity"
            />
            <mat-error *ngIf="formSell.get('quantity')?.hasError('required')"
              >quantity {{ pair0 }} is required</mat-error
            >
          </mat-form-field>
          <mat-form-field class="fix">
            <input
              matInput
              placeholder="Total ({{ pair1 }})"
              required
              formControlName="total"
            />
            <mat-error *ngIf="formSell.get('total')?.hasError('required')"
              >total {{ pair1 }} is required</mat-error
            >
          </mat-form-field>
          <span>Balance {{ balance0 }} {{ pair0 }}</span>
          <button
            (click)="approve(token1)"
            color="warn"
            class="fix"
            style="margin-bottom: 1rem"
            [disabled]="allow1"
            mat-button
            mat-raised-button
          >
            Approve spend {{ pair0 }}
          </button>
          <button
            (click)="sell()"
            color="accent"
            class="fix"
            [disabled]="!account"
            mat-button
            mat-raised-button
          >
            Sell {{ pair0 }}
          </button>
        </form>
      </mat-tab>
    </mat-tab-group>
  </div>

  <div class="connect" *ngIf="!account">
    Connect your metamask wallet with the button in upper right to create token
    from this site
  </div>
  <div class="info">
    Create order cost 2 ODT, only ODT pair are free from fees.
  </div>
</div>
