:host {
  display: flex;
  flex-direction: row;
  justify-content: stretch;
  flex: 1;

  table {
    // width: 100%;
    flex: 1;
    td {
      padding-right: 24px;
    }
  }

  .history-page {
    padding: 1rem;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
    flex: 1;
  }
}
