:host {
  .example-spacer {
    flex: 1 1 auto;
  }

  .network {
    margin-right: 20px;
    font-size: 1rem;
  }

  .balance {
    margin-right: 50px;
    font-size: 1rem;
  }

  .menu-link {
    color: white;
    text-decoration: none;
    cursor: pointer;
    margin-right: 30px;
    vertical-align: middle;
    display: flex;
    flex-direction: row;
    align-items: center;
    img {
      margin-right: 5px;
    }
  }

  .menu-button {
    display: none;
  }

  .content-loading {
    height: 5px;
  }

  .mat-toolbar {
    .mat-icon {
      margin-right: 5px;
    }
  }

  main {
    display: flex;
    flex-direction: row;
    align-items: stretch;
    height: 100%;
  }

  .example-container {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
  }

  .sidenav-container {
    flex: 1;

    .sidenav {
      min-width: 240px;
      z-index: 3;

      a {
        display: block;
        padding: 6px 24px;
        width: 100%;
        text-align: left;
        color: #3f51b5;
      }
    }
  }

  @media (max-width: 800px) {
    .menu-link {
      display: none;
    }

    .menu-button {
      display: flex;
    }
  }
}
