$red: orangered;
$orange: orange;
$black: black;
$white: white;
$green: forestgreen;

$charcoal-grey: #353f48;
$cerise: #ed0d7d;
$white-hover: #f4f4f4;
$grey-hover: #b0bec5;
$slate-grey: #606770;
$light-slate-grey: #828282;
$shiny-slate-grey: #dadada;
$light-slate-grey-alpha-66: #bebebe;
$light-slate-grey-alpha-77: #afafaf;
$light-slate-grey-alpha-88: #9b9b9b;
$light-slate-grey-alpha-BB: #898989;
$dodger-blue: #4d7bf3;
$dodger-blue-darker: #496acd;
$dodger-blue-alpha-50: #7a9cf6;
$dodger-blue-alpha-88: #d6e1fd;
$dodger-blue-alpha-08: #d8e3fc;
$dusk: #5a6289;
$dark: #282d47;
$light-dusk: #7d84a3;
$light-dark: #3f4873;
$background-color: #e1e4f0;
$background-color-alt: #e9e9e9;
$background-color-alpha-44: #f1f3f8;

$grey: hsl(0, 0%, 48%);
$grey-color-border-disabled: #475059;

$pastel-vert: #c9ffaa;
$pastel-orange: #ffe2bb;
$pastel-bleu: #d0f5ff;
$pastel-violet: #e7d3ff;

$gris-66-alpha-50: #cecece;
$gris-54-alpha-50: #d7d7d7;
$gris-54: #c9c9c9;
$input-border-bottom: #475059;

// couleur des notifications
$notification-success: #3e843e;
$notification-warning: #bf892b;
$notification-error: #f03359;
$notification-notify: $dodger-blue;

$background-error: #fef0f0;
