<div class="home-page">
  <nav class="pair-list" color="accent">
    <a
      class="menu-link"
      color="secondary"
      [routerLink]="['/order', 'odt-matic']"
    >
      ODT/Matic
    </a>
    <a class="menu-link" [routerLink]="['/order', 'weth-matic']">WETH/Matic</a>
    <a class="menu-link" [routerLink]="['/order', 'odt-weth']">ODT/WETH</a>
  </nav>
  <div>
    <button
      color="accent"
      class="fix"
      style="margin: 1rem"
      [disabled]="!account"
      mat-button
      mat-raised-button
      (click)="add()"
    >
      Add ODT token to metamask
    </button>
    <button
      color="warn"
      class="fix"
      style="margin: 1rem"
      [disabled]="!account"
      mat-button
      mat-raised-button
      (click)="approve()"
    >
      Approve ODT
    </button>
    <router-outlet></router-outlet>
  </div>
</div>
